
    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="/user/css/login.css">
</head>
<body>
<div class="login">
  <h2 class="active">ADMIN LOGIN </h2>
  <form action="/admin/adminlogin" method="post">
    <span>Email</span>
    <input type="text" class="text" name="email">
    <br>
    <br>
    <span>password</span>
    <input type="password" class="text" name="password">
    <br>
    <button class="signin">
      LOGIN
    </button>
    <br>
   
    <br><br>
    <hr>
  </form>
  <%
  if(typeof message !=='undefined'){
    %>
    <script>
    alert('<%= message %>');

  </script>
    <% } %>
</div>
</body>
</html>