   <!-- Plugins JS File -->
   <script src="user/js/jquery.min.js"></script>
   <script src="user/js/bootstrap.bundle.min.js"></script>
   <script src="user/js/jquery.hoverIntent.min.js"></script>
   <script src="user/js/jquery.waypoints.min.js"></script>
   <script src="user/js/superfish.min.js"></script>
   <script src="user/js/owl.carousel.min.js"></script>
   <script src="user/js/bootstrap-input-spinner.js"></script>
   <script src="user/js/jquery.elevateZoom.min.js"></script>
   <script src="user/js/bootstrap-input-spinner.js"></script>
   <script src="user/js/jquery.magnific-popup.min.js"></script>
   <!-- Main JS File -->
   <script src="user/js/main.js"></script>
</body>


<!-- molla/product-centered.html  22 Nov 2019 10:03:20 GMT -->
</html>